 .small-text {
     font-weight: $weight-light;
     font-size: 1.25rem;
     line-height: 31px;
     color: $second-color;
 }
 
 @media screen and (max-width: 1024px) {
     .small-text {
         font-size: 1.1rem;
         line-height: 28px;
     }
 }
 
 @media screen and (max-width: 768px) {
     .small-text {
         font-size: $base-font;
         line-height: 25px;
     }
 }